<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moo.catchjava.boardMapper">

<!--    <insert id="insert" parameterType="UserDTO">-->
<!--        insert into user(id, username, userid, nickname, password, phonenumber, postnumber, address1, address2, birthday, sex, email)-->
<!--        values (#{id}, #{username}, #{userid}, #{nickname}, #{password}, #{phonenumber}, #{postnumber}, #{address1}, #{address2},#{birthday},#{sex},#{email})-->
<!--    </insert>-->

</mapper>